<div class="my-5">
    <h1 class="text-center">어서오세요! OO문고 입니다!</h1>
</div>
<div>
    <table class="table table-danger table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">책이름</th>
            <th scope="col">책가격</th>
            <th scope="col">저자</th>
            <th scope="col">출판사</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2"></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>