<nav class="navbar navbar-expand-lg" style="background-color: #aa5878;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="bi bi-house" style="font-size: 2rem;"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/books">
                            <i class="bi bi-book" style="font-size: 2rem;"></i>도서 검색</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/books/list">
                            <i class="bi bi-list" style="font-size: 2rem;"></i>도서 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/musics">
                            <i class="bi bi-file-music" style="font-size: 2rem;"></i>노래 검색</a>   
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/exhibits">
                            <i class="bi bi-image-fill" style="font-size: 2rem;"></i>전시 검색</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users">
                            <i class="bi bi-person" style="font-size: 2rem;"></i>사용자 목록</a>
                    </li>
                    <li class="nav-item" id="login">
                        <a class="nav-link active" aria-current="page" href="/users/login">로그인</a>
                    </li>
                    <li class="nav-item" style="display:none;" id="mypage">
                        <a class="nav-link active" aria-current="page" href="/users/mypage">마이페이지</a>
                    </li>
                    <li class="nav-item" style="display:none;" id="logout">
                        <a class="nav-link active" aria-current="page" href="/users/logout">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        if(sessionStorage.getItem("uid")){
            $("#login, #mypage, #logout").toggle();
            $("#mypage a").html(sessionStorage.getItem("uid") + "님");
        }

        $("#logout").on("click", "a", function(e) {
            e.preventDefault();
            if(confirm("정말로 로그아웃 하시겠습니까?")){
                sessionStorage.clear();
                location.href = "/";
            }
        });

        $("#mypage").on("click", "a", function(e){
            e.preventDefault();
            location.href="/users/mypage?uid=" + sessionStorage.getItem("uid");
        });
    </script>