@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


* {
  font-family: 'Gugi', sans-serif;
}

form span {
  width: 100px;
  justify-content: center;
}

.photo {
  border-radius: 50%;
  border: 2px solid gray;
}